*, :after, :before {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body.dark {
  scrollbar-color: #9D9D9D #2E2E31;
}

#tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  overflow: auto; /* or scroll */
  -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
}

#tree > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  overflow: hidden;
}

#tree {
  background-color: #f3f4f5;
}

.dark #tree {
  background-color: #202124;
}

#tree-wrapper:focus,
#tree:focus,
#tree > canvas:focus {
  border: 0;
  outline: 0;
}

body.mobile .offcanvas-backdrop.show {
  display: none; /* Prevent blinking by hiding backdrop */
}

#personName {
  font-family: "Montagu Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
/*  font-variant: small-caps;*/
}

.first-letter {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}

.later-letters {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
}

.offcanvas-header {
  background-color: #202124;
}

body:not(.dark) .offcanvas-header {
  background-color: #f3f4f5;
}

#personDetailsDesc {
  background-color: #202124;
  padding-top: 0;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

body:not(.dark) #personDetailsDesc {
  background-color: #f3f4f5;
}

#personDetailsDesc figure img {
  width: 100%;
  margin-bottom: 1rem;
}

#personDetailsDesc .headline {
  font-family: "Montagu Slab", serif;
  font-size: 1.05em;
  font-weight: 500;
  color: #414447;
  opacity: 1;
  color: var(--bs-offcanvas-color);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  line-height: 1.55;
  margin-bottom: 1rem;
}

#personDetailsDesc p,
#personDetailsDesc ol li {
  font-family: 'Google Sans Text', sans-serif;
  font-size: 15px;
  line-height: 22px;
}

#personDetailsDesc p {
  margin-bottom: 1.5rem;
}

#personDetailsDesc ol {
  padding-left: 1rem;
}

#personDetailsDesc ol > li {
  margin-bottom: 0.125rem;
}

ol ul {
  padding-left: 1rem;
  list-style-type: "- ";
  margin-bottom: 0.125rem;
  margin-top: 0.125rem;
}

#personDetailsDesc figure:not(.headshot) {
  margin-bottom: 1.5rem;
}

#personDetailsDesc figure,
#personDetailsDesc figure.headshot {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

#personDetailsDesc .caption {
  margin-top: -0.5rem;
}

#personDetailsDesc p em {
  font-family: "Montagu Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-style: normal;
  letter-spacing: -0.03em;
  display: block;
  opacity: 0.6;
}

#personDetailsDesc h5,
#personDetailsDesc h6 {
  font-family: 'Google Sans', sans-serif;
  font-weight: 500;
}

#personDetailsDesc h5 {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 1rem;
}

#personDetailsDesc h6 {
  font-size: 15px;
}

body.dark #personDetailsDesc p {
  color: #e1e1e1;
}

body.dark #personDetailsDesc .headline {
  color: #e1e1e1;
}

body.dark .offcanvas .btn-close {
  filter: invert(1);
}

body > footer {
  background-color: #f3f4f5;
  color: #202124;
  font-family: 'Google Sans Text', sans-serif;
  font-size: 0.65rem;
  position: absolute;
  bottom: 0;
  padding: 0.1rem 0.4rem;
  right: 0;
  z-index: 900;
}

body.dark > footer {
  background-color: #202124;
}

body.dark > footer {
  color: #bdc1c6;
}

#personDetailsDesc hr {
  margin: 1.5rem 0;
}

#personDetailsDesc hr.headshot-sep {
  margin-top: 1.35rem;
  border-top-width: 2px;
  opacity: 1;
}

.headshot:has(+ .headshot-sep) {
  margin-bottom: 0 !important;
}

.siblings {
  padding: 0;
  margin: 0 0 1.5rem;
  list-style: none;
}

.siblings li {
  display: flex;
  list-style: none;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.dark .siblings li {
  background-color: #2f2f2f;
}

.siblings .person-placeholder{
  border: 1px dashed #b5b5b5;
  padding: 10px 10px 9px;
}

.dark .siblings .person-placeholder{
  border-color: #6c6c6c;
}

#personDetailsDesc .siblings li img {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  flex: 0 0 auto; /* Takes only the necessary space */
  margin: 0;
}

#personDetailsDesc .siblings li.details-2 img {
  width: 65px;
}

#personDetailsDesc .siblings li.details-3 img {
  width: 75px;
}

.siblings li > .person-details {
  border-left: 2.5px solid;
  flex: 1;
  padding: 12px 10px 9px;
  line-height: 0.8;
}

.person-placeholder .person-name,
.person-details .person-name {
  font-family: "Google Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  display: block;
  margin-top: 0;
}

.person-details span {
  font-family: "Google Sans Text", sans-serif;
  font-weight: 400;
  font-size: 11.3px;
  margin-top: 5px;
  display: block;
}

.siblings li.male .person-details {
  border-left-color: #2799fd;
}

.siblings li.female .person-details {
  border-left-color: #ea1a68;
}

.youtube-container {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  margin-top: -6px;
  margin-bottom: 1rem;
  z-index: 3;
  overflow: hidden;
}

.youtube-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

h5 .chill {
  font-family: 'Google Sans Text', sans-serif;
  font-weight: 400;
}

div.badges {
  margin-bottom: 1rem;
}

#personDetailsDesc .badge.rounded-pill > img {
  width: 19px;
  margin: 0 var(--bs-badge-padding-y) 0 0;
}

#personDetailsDesc .badge {
  font-family: 'Google Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
