*, :after, :before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  overflow: hidden;
}

#tree > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  overflow: hidden;
}

#tree {
  background-color: #f3f4f5;
}

.dark #tree {
  background-color: #202124;
}

#tree-wrapper:focus,
#tree:focus,
#tree > canvas:focus {
  border: 0;
  outline: 0;
}

body > footer {
  background-color: #f3f4f5;
  color: #202124;
  font-family: 'Google Sans Text', sans-serif;
  font-size: 0.65rem;
  position: fixed;
  bottom: 0;
  padding: 0.1rem 0.4rem;
  right: 0;
  z-index: 99999;
}

body.dark > footer {
  background-color: #202124;
}

body.dark > footer {
  color: #bdc1c6;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
