.title {
  font-family: 'Partsold', serif;
  font-size: 6rem;
  font-weight: 400;
}

.title-symbol {
  font-family: Kristi, serif;
  font-size: 6rem;
  font-weight: 400;
}

.directors-cut.hero {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
}

.wedding-logo {
  width: 120px;
}

.engagement-ring.hero {
  background-color: #f6f6f6;
}

.animation {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.animation__images {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  border: 0;
  position: relative;
}

.animation__images > li > img {
  position: absolute;
  left: 0;
  top: 0;
}

.animation,
.animation .animation__images,
.animation .animation__images > li,
.animation .animation__images > li > img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .engagement-ring.animation,
  .engagement-ring.animation .animation__images,
  .engagement-ring.animation .animation__images > li,
  .engagement-ring.animation .animation__images > li > img {
    width: 748px;
    height: 748px;
  }
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
